# Send builds to container-based infrastructure
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
language: ruby
cache:
  - bundler
rvm:
  - 2.0
  - 2.1.8
  - 2.2.4
  - 2.3.0
  - ruby-head
script: bundle exec rspec spec
# ! Update bundler before running test in Travis to avoid buggy version of bundler
before_install:
  - gem update bundler
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
